@charset "utf-8";

/*

browser reset

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
	margin: 0;
	padding: 0;
	border: 0;
}

body, div, span, applet, object, embed, iframe, pre, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, b, strong, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, table, tbody, dl, dt, dd, ol, ul, li, fieldset, form, button, label, legend, figure, figcaption, caption, hr, noscript {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	list-style: none;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
	vertical-align: top;
	text-decoration: none;
	position: relative;
}

tr, td, th {
	margin: 0;
	padding: 0;
	outline: none;
}

select, input, textarea {
	margin: 0;
	padding: 0;
	outline: none;
	position: relative;
}

button {
	outline: none;
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/*

html, body

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body, html {
	height: 100%;
	border: none;
	top: 0;
	font: 14px/1.2 Arial, sans-serif;
	color: #444;
	background: #FFF;
	text-align: left;
}


/*

global styles

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a {
	color: #036DBE;
}

a:hover {
	text-decoration: underline;
}

strong, strong * {
	font-weight: bold;
}

em, em * {
	font-style: italic;
}


/*

story

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.story {
	width: 810px;
	padding: 10px;
	float: left;
}

	.story .info {
		width: 100%;
		padding: 10px 0;
		float: left;
	}

		.story .info .title {
			width: 100%;
			float: left;
			font-size: 24px;
		}

		.story .info .meta {
			width: 100%;
			float: left;
		}

	.story .left {
		width: 260px;
		float: left;
	}

		.story .left .social {
			width: 520px;
			margin: 0 -535px 0 0;
			float: right;
		}

			.story .left .social li {
				margin: 0 25px 0 0;
				float: left;
			}

				.story .left .social li a small {
					width: 20px;
					height: 20px;
					float: left;
					overflow: hidden;
				}

					.story .left .social li a small img {
						float: left;
						filter: url(../svg/filters.svg#grayscale);
						filter: gray;
						-webkit-filter: grayscale(1);
					}

						.story .left .social li a:hover small img {
							filter: none;
							-webkit-filter: none;
						}

						.story .left .social li.share a small img {
							margin: 0 0 0 -20px;
						}

						.story .left .social li.favorite a small img {
							margin: 0 0 0 -40px;
						}

						.story .left .social li.vote a small img {
							margin: 0 0 0 -60px;
						}

				.story .left .social li a strong {
					margin: 0 0 0 10px;
					float: left;
					line-height: 20px;
					font-weight: normal;
					text-decoration: underline;
				}

		.story .left .photo {
			width: 260px;
			float: left;
		}

			.story .left .photo img {
				width: 256px;
				border: 2px #080300 solid;
				float: left;
			}

			.story .left .photo figcaption {
				right: 2px;
				bottom: 2px;
				position: absolute;
				padding: 2px 6px;
				color: #000;
				background-color: rgba(255, 255, 255, 0.6);
			}

		.story .left .photo_desc {
			width: 260px;
			margin: 10px 0 0 0;
			float: left;
		}

	.story .right {
		width: 535px;
		margin: 15px 0 0 0;
		float: right;
	}

		.story .right .author {
			width: 100%;
			margin: 20px 0 0 0;
			float: left;
		}

			.story .right .author strong {
				color: #036DBE;
				font-weight: normal;
			}

		.story .right .content {
			width: 100%;
			margin: 20px 0 0 0;
			float: left;
			-webkit-column-count: 2;
			-webkit-column-gap: 15px;
			-moz-column-count: 2;
			-moz-column-gap: 15px;
			column-count: 1;
			column-gap: 15px;
		}

			.story .right .content p {
				margin: 0 0 20px 0;
			}


/*

wrappers

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.crumbs {
	width: 100%;
	padding: 3px 0;
	border-top: 2px #CDCDCD solid;
	border-bottom: 2px #CDCDCD solid;
	float: left;
}

	.crumbs ul {
		padding: 0 0 0 10px;
		float: left;
		font-size: 11px;
		color: #036DBE;
	}

		.crumbs ul li {
			margin: 0 10px 0 0;
			float: left;
		}

			.crumbs ul li a {
				font-weight: bold;
			}


/*

when mobile calls, CSS responds

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 480px) {
	.story {
		width: 460px;
		padding: 10px;
		float: left;
	}

		.story .left {
			width: 460px;
		}

			.story .left .social {
				width: 460px;
				margin: 0 0 10px 0;
				float: right;
			}

				.story .left .social li a small img {
					filter: none;
					-webkit-filter: none;
				}

			.story .left .photo figcaption {
				position: relative;
				margin: 6px 0 0 auto;
				padding: 0;
				float: right;
				color: #898989;
			}

		.story .right {
			width: 460px;
		}

			.story .right .author {
				margin: 0;
			}

			.story .right .content {
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
			}
}
